<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="baseFunction" class="com.alibaba.water3.function.BaseFunction"/>

    <bean id="baseSupplier" class="com.alibaba.water3.function.BaseSupplier"/>

    <bean class="com.alibaba.water3.function.YhbFunction"/>

    <bean class="com.alibaba.water3.function.YhbSupplier" />
</beans>